@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: 'Geist', 'Inter', sans-serif;
  
  --color-background: hsl(0 0% 98%); /* Soft White/Grey #FAFAFA */
  --color-foreground: hsl(0 0% 9%); /* Soft Black #171717 */

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(0 0% 9%);
 
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(0 0% 9%);
 
  --color-primary: hsl(0 0% 9%);
  --color-primary-foreground: hsl(0 0% 98%);
 
  --color-secondary: hsl(0 0% 96%); /* Light Grey #F4F4F5 */
  --color-secondary-foreground: hsl(0 0% 9%);
 
  --color-muted: hsl(0 0% 96%);
  --color-muted-foreground: hsl(0 0% 45%);
 
  --color-accent: hsl(0 0% 96%);
  --color-accent-foreground: hsl(0 0% 9%);
 
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);

  --color-border: hsl(0 0% 90%);
  --color-input: hsl(0 0% 90%);
  --color-ring: hsl(0 0% 9%);
 
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground selection:bg-black/10;
  }
  
  /* Hide Scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
